
.backImg::before {
  z-index: -1;
  top: -60%;
  left: 0;
  position: absolute;
  content: "";
  background-image: url('./assets/pizza1.png');
  
  background-size : cover;
  background-repeat: no-repeat;
  height: 160%;
  width: 100%;
}
.backImg::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 160%;
  background: rgba(0,0,0,0.6);
  z-index: -1;
  top: -60%;
  left: 0;
}