.bgImg::before {
  z-index: -1;
  top: -15%;
  position: absolute;
  content: "";
  background-image: url("../assets/homeback.png");

  background-size: cover;
  background-repeat: no-repeat;
  height: 820px;
  width: 100%;
  left: 0;
}
.bgImg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 820px;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
  top: -15%;
  left: 0;
}
@media (max-width: 500px) {
  .bgImg::before {
    z-index: -1;
    top: -15%;
    position: absolute;
    content: "";
    /* background-image: url("./assets/hero.jpg"); */
    background-image: url("../assets/homeback.png");
    background-size: 500%;
    background-position: 50% 40%;

    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    left: 0;
  }
  .bgImg::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
    top: -15%;
    left: 0;
  }
}
