.bgImg::before {
  z-index: -1;
  top: -23%;
  position: absolute;
  content: "";
  background-image: url("../assets/homeback.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 123%;
  width: 100%;
  left: 0;
}
.bgImg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 123%;
  background: rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  top: -23%;
  left: 0;
}
